@{
    ViewData["Title"] = "Administracion";
    Layout = "~/Views/Shared/_LayoutClientes.cshtml";
}

<!-- Header Start -->
<div class="jumbotron jumbotron-fluid mb-5">
    <div class="container text-center py-5">
        <h1 class="text-primary mb-4">Usuarios</h1>
        <h1 class="text-white display-3 mb-5">Administracion de Usuarios</h1>
    </div>
</div>
<!-- Header End -->
<!-- Lista de Pagos Start  -->
<div class="container-fluid py-4">
    <h4 class="mb-4 text-primary">Lista de Usuarios</h4>
    <table class="table table-hover table-striped shadow-sm">
        <thead class="thead-dark">
            <tr>
                <th>ID </th>
                <th>Fecha de Registro de Usuario</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Sede</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>04/12/2024</td>
                <td><strong style="color: #1F1F2E;">Gustavo</strong></td>
                <td><strong style="color: #1F1F2E;">Martinez Hernandez</strong></td>
                <td><strong style="color: #1F1F2E;">gustavomartiHernan@ejemplo.com</strong></td>
                <td><strong style="color: #1F1F2E;">Narnajo</strong></td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Activo
                        </label>
                    </div>
                </td>
            <tr>
                <td>2</td>
                <td>13/12/2024</td>
                <td><strong style="color: #1F1F2E;">Juan</strong></td>
                <td><strong style="color: #1F1F2E;">Perez Vargas</strong></td>
                <td><strong style="color: #1F1F2E;">juanPerezVargas@ejemplo.com</strong></td>
                <td><strong style="color: #1F1F2E;">Perez Zeledon</strong></td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Activo
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>14/12/2024</td>
                <td><strong style="color: #1F1F2E;">Adriana</strong></td>
                <td><strong style="color: #1F1F2E;">Jimenez Arias</strong></td>
                <td><strong style="color: #1F1F2E;">AdriJimeArias@ejemplo.com</strong></td>
                <td><strong style="color: #1F1F2E;">Naranjo</strong></td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Activo
                        </label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>



