@{
    ViewData["Title"] = "Historial de paquetes";
    Layout = "~/Views/Shared/_LayoutPaqueteHistorial.cshtml";
}




<div class="jumbotron jumbotron-fluid mb-5">
    <div class="container text-center py-5">
        <h1 class="text-primary mb-4">Consulta historial de cambios</h1>
        <h1 class="text-white display-3 mb-5">Cambios cronológicos del paquete</h1>
        <div class="mx-auto" style="width: 100%; max-width: 600px;">
           
        </div>
    </div>
</div>



<div class="timelinePaquetes">
    <div class="containertimelinepaquete leftcontenttimeline">
        <div class="contenttimeline">
            <h2>20 Febrero 2024</h2>
            <p>Paquete recibido en sucursal San José</p>
        </div>
    </div>
    <div class="containertimelinepaquete rightcontenttimeline">
        <div class="contenttimeline">
            <h2>25 Febrero 2024</h2>
            <p>Cliente contactado por teléfono</p>
        </div>
    </div>
    <div class="containertimelinepaquete leftcontenttimeline">
        <div class="contenttimeline">
            <h2>28 Febrero 2024</h2>
            <p>Cliente realiza el pago</p>
        </div>
    </div>
    <div class="containertimelinepaquete rightcontenttimeline">
        <div class="contenttimeline">
            <h2>02 Marzo 2024</h2>
            <p>Paquete enviado a ruta, fecha estimada de entrega 03 de Marzo 2024</p>
        </div>
    </div>
    <div class="containertimelinepaquete leftcontenttimeline">
        <div class="contenttimeline">
            <h2>03 Marzo 2024</h2>
            <p>Paquete entregado al Cliente</p>
        </div>
    </div>
</div>

