@model IEnumerable<FrontEnd.Models.Usuario>
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Gestión de Empleados";
    Layout = "~/Views/Shared/_LayoutUsuarios.cshtml";

    var usuarioNombre = Context.Session.GetString("UsuarioNombre");
    var idRol = Context.Session.GetString("UsuarioRol");
    var usuarioId = Context.Session.GetString("UsuarioId");
    var sesionActiva = !string.IsNullOrEmpty(usuarioNombre);
}

@if (idRol == "4")
{

<!-- Registro Start -->
<div class="jumbotron jumbotron-fluid mb-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-6 py-5 py-lg-0">
                <h1 class="text-white mb-4">Registrar una nueva sucursal</h1>
                
            </div>
            <div class="col-lg-6">
                <div class="bg-primary py-5 px-4 px-sm-5">
                    <form class="py-5" asp-controller="Usuario" asp-action="RegistroSucursal" method="post" id="registrationSucursalForm">
                        @if (TempData["MensajeRegistroCorrecto"] != null)
                        {
                            <div class="alert alert-success" role="alert">
                                @TempData["MensajeRegistroCorrecto"]
                            </div>
                        }
                        <h6 class="text-primary text-uppercase font-weight-bold" style="color:#1F1F2E !important">Datos de la Sucursal</h6>
                        <div class="form-group">
                            <input type="text" class="form-control border-0 p-4" placeholder="Nombre de la sucursal" name="Nombre" required />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control border-0 p-4" placeholder="Horario de la sucursal" name="Horario" required />
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control border-0 p-4" placeholder="Teléfono de la sucursal" name="Telefono" required />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control border-0 p-4" placeholder="Dirección de la sucursal" name="Direccion" required />
                        </div>
                        <div>
                            <button class="btn btn-dark btn-block border-0 py-3" type="submit">Registrar sucursal</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
}
else
{
    <div class="jumbotron jumbotron-fluid mb-5">
        <div class="container text-center py-5">
            <h1 class="text-white display-3 mb-5">No tienes acceso</h1>
            <div class="mx-auto" style="width: 100%; max-width: 600px;">
                <div class="input-group d-flex justify-content-center">
                    <img src="~/assets/img/no-autorizado.png" />
                </div>
            </div>
        </div>
    </div>

}
<!-- Registro End -->

<script>
    function agregarOficina() {
        const oficinasContainer = document.getElementById("oficinasContainer");
        const nuevaOficina = document.createElement("div");
        nuevaOficina.className = "form-group d-flex mt-2";
        nuevaOficina.innerHTML = `
                <input type="text" class="form-control border-0 p-4" placeholder="Nombre de la oficina" name="Oficinas[]" required />
                <button type="button" class="btn btn-danger ml-2" onclick="removerElemento(this)">-</button>
            `;
        oficinasContainer.appendChild(nuevaOficina);
    }

    function agregarPersonal() {
        const personalContainer = document.getElementById("personalContainer");
        const nuevoPersonal = document.createElement("div");
        nuevoPersonal.className = "form-group d-flex mt-2";
        nuevoPersonal.innerHTML = `
                <input type="text" class="form-control border-0 p-4" placeholder="Nombre del personal" name="Personal[]" required />
                <button type="button" class="btn btn-danger ml-2" onclick="removerElemento(this)">-</button>
            `;
        personalContainer.appendChild(nuevoPersonal);
    }
    function removerElemento(boton) {
        boton.parentElement.remove();
    }
</script>
