@{
    ViewData["Title"] = "Inicio de Sesión";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Login Start -->
<div class="container-fluid bg-secondary my-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 py-5 py-lg-0">
                <h6 class="text-primary text-uppercase font-weight-bold">Bienvenido de nuevo</h6>
                <h1 class="mb-4">Inicia Sesión en tu Cuenta</h1>
                <p class="mb-4">Accede para vizualizar sus paquetes y gestionar tus datos.</p>
            </div>
            <div class="col-lg-6">
                <div class="bg-primary py-5 px-4 px-sm-5">
                    <form class="py-5" asp-controller="Acceso" asp-action="InicioSesion" method="post">
                        <div class="form-group">
                            <input id="emailImput" type="email" class="form-control border-0 p-4" placeholder="Correo electrónico" name="Email" required />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control border-0 p-4" placeholder="Contraseña" name="Password" required />
                        </div>
                        <div>
                            <!--     <button id="btnIniciar" class="btn btn-dark btn-block border-0 py-3" type="submit" >Iniciar Sesión</button> >-->
                        </div>
                        <div class="text-center mt-3">
                            <p class="text-white">¿No tienes una cuenta? <a href="/Acceso/Registro" class="text-dark font-weight-bold">Regístrate aquí</a></p>
                        </div>
                        <div class="form-group d-flex justify-content-center">
                            <a href="#" class="text-white">¿Olvidaste tu contraseña?</a>
                        </div>
                    </form>
                    <button id="btnIniciar">Iniciar Sesión </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login End type="submit"-->
<script>

 
    document.getElementById("btnIniciar").addEventListener("click", function () {

        const email = document.getElementById("emailImput").value;

        if (email == "empleado@gmail.com") {
            window.location.href = "../Usuario/Paquetes"
        } else if (email == "cliente@gmail.com") {
            window.location.href = "../UsuarioCliente/Configuracion"
        } else if (email == "admin@gmail.com") {
            window.location.href = "../Usuario/Administracion"
        } else if (email == "transportista@gmail.com") {

        };
    
    });

</script>