@{
    ViewData["Title"] = "Registro de Usuario";
    Layout = "~/Views/Shared/_LayoutUsuarios.cshtml";
    var usuarioId = Context.Session.GetString("UsuarioId");
}
@model FrontEnd.Models.Paquete

<!-- Registro Start -->
<div class="jumbotron jumbotron-fluid mb-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-6 py-5 py-lg-0">
                <h6 class="text-primary text-uppercase font-weight-bold">Nuevo paquete en el sistema</h6>
                <h1 class="text-white mb-4">Registra un paquete en el sistema</h1>
                <p class="text-white-50 mb-4">La cédula del cliente completará los datos del cliente y dirección del paquete.</p>


            </div>
            <div class="col-lg-6">
                <div class="bg-primary py-5 px-4 px-sm-5">


                    <div class="form-group">
                        <input id="CedulaBuscar" type="text" class="form-control border-0 p-4" placeholder="Cédula cliente (Ejemplo: 0111111111)" name="CedulaBuscar"
                               pattern="\d{10}" title="La cédula debe tener 10 dígitos." required="required" />
                    </div>
                    <div>
                        <button id="buscarCliente" class="btn btn-dark btn-block border-0 py-3">Buscar Cliente</button>
                    </div>

                    <form class="py-5" asp-controller="Paquete" asp-action="RegistrarPaquete" method="post" id="registrationForm">
                        @if (TempData["MensajePaqueteRegistrado"] != null)
                        {
                            <div class="alert alert-success" role="alert">
                                @TempData["MensajePaqueteRegistrado"]
                            </div>
                        }
                        <div class="form-group">
                            <input id="IdCliente" type="text" class="form-control border-0 p-4" name="IdCliente" required="required" hidden />
                        </div>
                        <div class="form-group">
                            <input id="IdUsuario" type="text" class="form-control border-0 p-4" name="IdUsuario" required="required" hidden value="@usuarioId" />
                        </div>
                        <div class="form-group">
                            <input id="IdSucursal" type="text" class="form-control border-0 p-4" name="IdSucursal" required="required" hidden value="1" />
                        </div>
                        <div class="form-group">
                            <input id="NumeroRegistro" type="text" class="form-control border-0 p-4" placeholder="Tracking ID" name="NumeroRegistro" required="required" />
                        </div>
                        <div class="form-group">
                            <input id="Precio" type="text" class="form-control border-0 p-4" placeholder="Precio en dolares " name="Precio" />
                        </div>
                        <div class="form-group">
                            <input id="PaqueteLargo" type="text" class="form-control border-0 p-4" placeholder="Largo en cm" name="PaqueteLargo" />
                        </div>
                        <div class="form-group">
                            <input id="PaqueteAncho" type="text" class="form-control border-0 p-4" placeholder="Ancho en cm" name="PaqueteAncho" />
                        </div>
                        <div class="form-group">
                            <input id="PaqueteAlto" type="text" class="form-control border-0 p-4" placeholder="Alto en cm" name="PaqueteAlto" />
                        </div>
                        <div class="form-group">
                            <input id="Descripcion" type="text" class="form-control border-0 p-4" placeholder="Descripción" name="Descripcion" />
                        </div>
                        <div class="form-group">
                            <input id="DireccionEntrega" type="text" class="form-control border-0 p-4" placeholder="Dirección paquete" name="DireccionEntrega" required="required" />
                        </div>
                        <hr />
                        <h6 class="text-primary text-uppercase font-weight-bold" style="color:black !important">Datos del cliente</h6>
                        <div class="form-group">
                            <input id="nombreCliente" type="text" class="form-control border-0 p-4" placeholder="Nombre cliente" name="nombreCliente" disabled />
                        </div>
                        <div class="form-group">
                            <input id="Cedula" type="text" class="form-control border-0 p-4" placeholder="Cédula cliente" name="Cedula"
                                   required="required" disabled />
                        </div>
                        <div class="form-group">
                            <input id="Email" type="email" class="form-control border-0 p-4" placeholder="Correo Electrónico cliente" name="Email" required="required" disabled />
                        </div>
                        <div class="form-group">
                            <input id="Telefono1" type="text" class="form-control border-0 p-4" placeholder="Telefono principal del cliente" name="Telefono1" disabled />
                        </div>
                        <div class="form-group">
                            <input id="proCanDistCodeP" type="text" class="form-control border-0 p-4" placeholder="Provincia, Cantón , Distrito, Código postal" name="proCanDistCodeP" disabled />
                        </div>

                        <div>
                            <button id="registrarPaquete" class="btn btn-dark btn-block border-0 py-3" type="submit">Registrar paquete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Registro End -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript">
    // Validación de la nueva contraseña
    //document.getElementById("registrarPaquete").addEventListener("click", function () { alert("Paquete registrado"); });


    //Ajax para buscar el cliente de la cedula
    $(document).ready(function () {
        $("#buscarCliente").click(function () {
            var cedula = $("#CedulaBuscar").val();
            var data = { Cedula: cedula }
            var url = "@Url.Action("BuscarClientePorCedulaAjax", "UsuarioCliente")"

            $.post(url, data).done(function (usuarioModelo) {

                if (usuarioModelo.idCliente != 0) {
                    alert("Datos del usuario " + usuarioModelo.cedula + " encontrados");
                //console.log(usuarioModelo);
                //console.log(usuarioModelo.direccion);
                $("#IdCliente").val(usuarioModelo.idCliente)
                $("#nombreCliente").val(usuarioModelo.nombre)
                $("#Cedula").val(usuarioModelo.cedula)
                $("#Email").val(usuarioModelo.correo)
                $("#Telefono1").val(usuarioModelo.telefonoPrincipal)
                $("#DireccionEntrega").val(usuarioModelo.direccion)
                $("#proCanDistCodeP").val(usuarioModelo.provincia + " - " + usuarioModelo.canton + " - " + usuarioModelo.distrito + " - " + usuarioModelo.codigoPostal)
            }else {
                alert("No se encuentra un usuario con la cédula " + cedula);


            }


            })
        })
    })
</script>
