@{
    ViewData["Title"] = "Gestión de Clientes";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<!-- Gestión de Clientes Start -->
<div class="container-fluid py-4">
    <h4 class="mb-4 text-primary">Lista de Clientes</h4>

    <!-- Tabla de Clientes Start-->
    <table class="table table-hover table-striped shadow-sm">
        <thead class="thead-dark">
            <tr>
                <th>Cédula</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>123456789</td>
                <td>Juan Pérez</td>
                <td>juanperez@gmail.com</td>
                <td>123-4567</td>
                <td>Calle Ficticia 123</td>
                <td>
                    <button class="btn btn-link" data-toggle="modal" data-target="#detailsModalViewClient">
                        <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <button class="btn btn-link" data-toggle="modal" data-target="#detailsModalDeleteClient">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- Tabla de Clientes End-->
</div>

<!-- Modal para ver detalles del cliente Start -->
<div class="modal fade" id="detailsModalViewClient" tabindex="-1" role="dialog" aria-labelledby="detailsModalViewClientLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalViewClientLabel">Detalles del Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><strong>Cédula:</strong> 123456789</p>
                <p><strong>Nombre:</strong> Juan Pérez</p>
                <p><strong>Primer Apellido:</strong> Mora</p>
                <p><strong>Segundo Apellido:</strong> López</p>
                <p><strong>Correo Electrónico:</strong> juanperez@gmail.com</p>
                <p><strong>Teléfono Principal:</strong> 123-4567</p>
                <p><strong>Teléfono Secundario:</strong> 88888888</p>
                <p><strong>Provincia:</strong> Provincia</p>
                <p><strong>Cantón:</strong> Cantón</p>
                <p><strong>Distrito:</strong> Distrito</p>
                <p><strong>Código Postal:</strong> 10101</p>
                <p><strong>Dirección:</strong> Calle Ficticia 123</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal para ver detalles del cliente End -->
<!-- Modal para eliminar cliente Start -->
<div class="modal fade" id="detailsModalDeleteClient" tabindex="-1" role="dialog" aria-labelledby="detailsModalDeleteClientLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalDeleteClientLabel">Detalles del Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><strong>Cédula:</strong> 123456789</p>
                <p><strong>Nombre:</strong> Juan Pérez</p>
                <p><strong>Primer Apellido:</strong> Mora</p>
                <p><strong>Segundo Apellido:</strong> López</p>
                <p><strong>Correo Electrónico:</strong> juanperez@gmail.com</p>
                <p><strong>Teléfono Principal:</strong> 123-4567</p>
                <p><strong>Teléfono Secundario:</strong> 88888888</p>
                <p><strong>Provincia:</strong> Provincia</p>
                <p><strong>Cantón:</strong> Cantón</p>
                <p><strong>Distrito:</strong> Distrito</p>
                <p><strong>Código Postal:</strong> 10101</p>
                <p><strong>Dirección:</strong> Calle Ficticia 123</p>
                <hr />
                <h5 class="mt-3">¿Seguro que desea eliminar a este cliente?</h5>
                <button id="borrarClienteButton" type="button" data-dismiss="modal" class="btn btn-danger">Eliminar Cliente</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal para eliminar cliente End -->
